<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
    <h1>Error</h1>
    <p class="error"><%= message %></p>
    <p class="hint">Status: <%= error.status %></p>
</div>
</body>
</html>
